{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <h3>Store Chain</h3>
  <form action="{% url 'stores:create-store-chain' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        {{ form | crispy }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary" id="save_button">{% trans 'Save' %}</button>
      </div>
    </div>

  </form>
{% endblock %}
