{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <h3>Store Chains</h3>
  {% for store_chain in  store_chain_list %}
    <div class="row">
      <div class="col-3">
        {{ store_chain.name }}
      </div>
      <div class="col-2">
        {{ store_chain.is_active }}
      </div>
      <div class="col-2">
        <a href="{% url 'stores:delete-store-chain' store_chain.pk %}" class="btn btn-danger btn-sm">Delete</a>
      </div>
    </div>
  {% endfor %}
  <div class="row">
  <div class="col-12">
    {% include 'snippets/pagination_snippet.html' %}
  </div>
  </div>
{% endblock %}
